.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
out/test/**
CONTRIBUTION.md
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
